In [91]:
 ##Loading all the required libraries
import pandas as pd
import numpy as np

from sklearn.naive_bayes import MultinomialNB

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
import time

#library for regular expretion
import re

In [92]:
data = pd.read_csv("News_Category_Dataset_v2.csv",encoding='latin-1')
data.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [93]:
data.shape

(200853, 6)

In [94]:
data.describe()

,category,headline,authors,link,short_description,date
count,200853,200847,164233,200853,181141,200853
unique,41,199343,27992,200812,178352,2309
top,POLITICS,Sunday Roundup,Lee Moran,https://www.huffingtonpost.comhttp://www.nytim...,Welcome to the HuffPost Rise Morning Newsbrief...,2013-10-04
freq,32739,90,2423,2,192,100

In [95]:
data.isnull().sum()

category                 0
headline                 6
authors              36620
link                     0
short_description    19712
date                     0
dtype: int64

In [97]:
data['headlineanddescription'] = data["headline"] + " " + data["short_description"]

In [98]:
data['headline'].replace('', np.nan, inplace=True)

In [99]:
data.isnull().sum()

category                      0
headline                      6
authors                   36620
link                          0
short_description         19712
date                          0
headlineanddescription    19713
dtype: int64

In [100]:
data.dropna(subset=['headline'], inplace=True)

In [101]:
data.shape

(200847, 7)

In [102]:
datasets = data[['headlineanddescription','category']]

In [103]:
datasets.category.unique()

array(['CRIME', 'ENTERTAINMENT', 'WORLD NEWS', 'IMPACT', 'POLITICS',
       'WEIRD NEWS', 'BLACK VOICES', 'WOMEN', 'COMEDY', 'QUEER VOICES',
       'SPORTS', 'BUSINESS', 'TRAVEL', 'MEDIA', 'TECH', 'RELIGION',
       'SCIENCE', 'LATINO VOICES', 'EDUCATION', 'COLLEGE', 'PARENTS',
       'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE', 'HEALTHY LIVING',
       'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST', 'FIFTY', 'ARTS',
       'WELLNESS', 'PARENTING', 'HOME & LIVING', 'STYLE & BEAUTY',
       'DIVORCE', 'WEDDINGS', 'FOOD & DRINK', 'MONEY', 'ENVIRONMENT',
       'CULTURE & ARTS'], dtype=object)

In [104]:
datasets['NUM_CATEGORY']=datasets.category.map({'CRIME':0, 'ENTERTAINMENT':1, 'WORLD NEWS':2, 'IMPACT':3, 'POLITICS':4,
       'WEIRD NEWS':5, 'BLACK VOICES':6, 'WOMEN':7, 'COMEDY':8, 'QUEER VOICES':9,
       'SPORTS':10, 'BUSINESS':11, 'TRAVEL':12, 'MEDIA':13, 'TECH':14, 'RELIGION':15,
       'SCIENCE':16, 'LATINO VOICES':17, 'EDUCATION':18, 'COLLEGE':19, 'PARENTS':20,
       'ARTS & CULTURE':21, 'STYLE':22, 'GREEN':23, 'TASTE':24, 'HEALTHY LIVING':25,
       'THE WORLDPOST':26, 'GOOD NEWS':27, 'WORLDPOST':28, 'FIFTY':29, 'ARTS':30,
       'WELLNESS':31, 'PARENTING':32, 'HOME & LIVING':33, 'STYLE & BEAUTY':34,
       'DIVORCE':35, 'WEDDINGS':36, 'FOOD & DRINK':37, 'MONEY':38, 'ENVIRONMENT':39,
       'CULTURE & ARTS':40}) 
datasets.head()

C:\Users\shaki\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,headlineanddescription,category,NUM_CATEGORY
0,There Were 2 Mass Shootings In Texas Last Week...,CRIME,0
1,Will Smith Joins Diplo And Nicky Jam For The 2...,ENTERTAINMENT,1
2,Hugh Grant Marries For The First Time At Age 5...,ENTERTAINMENT,1
3,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,ENTERTAINMENT,1
4,Julianna Margulies Uses Donald Trump Poop Bags...,ENTERTAINMENT,1

In [105]:
datasets.isnull().sum()

headlineanddescription    19707
category                      0
NUM_CATEGORY                  0
dtype: int64

In [106]:
datasets.dropna(subset=['headlineanddescription'], inplace=True)

C:\Users\shaki\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [107]:
datasets.isnull().sum()

headlineanddescription    0
category                  0
NUM_CATEGORY              0
dtype: int64

In [108]:
datasets.shape

(181140, 3)

In [109]:
#Splitting dataset into 75% training set and 25% test set
x_train, x_test, y_train, y_test = train_test_split(datasets.headlineanddescription, datasets.NUM_CATEGORY)

In [111]:
x_train.isnull().sum()

0

In [222]:
#Here we convert our dataset into a Bag Of Word model using a Bigram model


vect = CountVectorizer(ngram_range=(1,2))
#converting traning features into numeric vector
X_train = vect.fit_transform(x_train)
#converting training labels into numeric vector
X_test = vect.transform(x_test)

In [274]:
#Training and Predicting the data
mnb = MultinomialNB(alpha =0.0199)

mnb.fit(X_train,y_train)

result= mnb.predict(X_test)
print(result)

[35 31 32 ... 31 31 38]

In [275]:
#Printing accuracy of the our model
accuracy_score(result,y_test)

0.5976151043391852